/*General*/
body {
    font-family: 'Baloo Chettan 2', cursive !important;
}
main {
    background: linear-gradient(#207620, #333333);
}
.section-title {
    padding-top: 70px;
}
.titre {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin-top: 30px;
    font-size: 40px;
}
.sub-title {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin: 20px 0;
    font-size: 30px;
}
/* Nav */
nav {
    letter-spacing: 2px;
    background-color: #333333;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
    padding-bottom: 0 !important;
    border-bottom: 1px solid #fff;
    padding: 0 !important;
}
nav a {
    color: #FFF;
}
nav a:hover {
    color: #FFF;
}
.navbar-nav {
    text-transform: uppercase;
    margin: 0 auto;
}
.nav-item {
    margin: 0 10px;
}
.nav-link {
    color: #FFF;
    text-align: center;
    font-weight: bold;
}
.nav-link:hover {
    text-decoration: none;
    color: #333333;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
} 
.nav-link:active {
    text-decoration: none;
    color: #333333;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
} 
.brand-logo {
    height: 40px;
    margin: 10px;
}
/* footer */
footer {
    background-color: #333333;
}
footer p {
    color: #FFF;
    margin: 0 auto;
    font-weight: bold;
}
.copyright {
    color: #545454;
    padding: 20px 10px 20px 0;
}
/*AboutMe */
#aboutMe {
    padding: 60px 0;
}
#aboutMe img {
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
    padding: 0 ;
}
.heading {
    text-align: center;
    color: #FFF;
}
.heading h1 {
    font-size: 40px;
    margin-top: 15px;
}
.heading h2 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.ddlButton {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    border: 2px solid #FFF;
    display: inline-block;
    padding: 15px 30px;
    margin: 30px 0 50px 0;
    border-radius: 3px;
}
.ddlButton:hover {
    background-color: #FFF;
    color: #207620;
    text-decoration: none;
}
/*Skills*/
#skills{
    padding-bottom: 150px;
}
.skill-row {
    background-color: #303E30;
    padding: 0 20px 20px 20px ;
    border-radius: 20px;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
    display: flex;
    flex-wrap: wrap;
}
.skill-row p {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
.progress, .progress-bar {
    border-radius: 15px !important;
    font-size: 20px;
}
.progress .bar-html {
    background-color: #FFBD59 ;
}
.progress .bar-js {
    background-color: #FFDE59;
}
.progress .bar-css {
    background-color: #5271FF;
}
.progress .bar-php {
    background-color: #8C52FF;
}
.progress .bar-langue {
    background-color: rgb(30, 94, 4);
}
.bar-boostrap{
    background-color: blue;
}
/*work */
#work {
    padding-bottom: 80px;
}
.timeline-line {
    position: absolute;
    left: calc(50% - 1.5px);
    height: 1500px;
    border-right: 3px solid white;
    background-color: #FFf;
    z-index: 0;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #FFF;
    margin: 0 auto;
  }
.pannel h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #333333;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
}
.pannel p {
    text-align: center;
    font-size: 25px;
}
.pannel {
    background-color: #303E30;
    border-radius: 20px;
    padding: 0;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
.work-icon {
    position: relative;
    background-color: #FFF;
    border-radius: 50%;
    padding: 5px;
    z-index: 1;
    margin: 20px;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
/*Degree*/
#degree {
    padding-bottom: 50px;
}
.degree-item{
     background-color: #303E30;
     margin: 30px auto;
     text-align: center;
     border-radius: 20px;
     box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
     color: #FFF;
     padding: 0 !important;
}
.degree-item img {
    margin: 0 auto;
}
 .degree-item h1{
    font-weight: bold;
    font-size: 35px;
    padding-top: 5px;
    background-color: #333333;
    border-radius: 20px 20px 0 0;
}
 .degree-item p{
    font-size: 20px;
}
/*Project*/
#project {
    padding-bottom: 50px;
}
.carousel {
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
.carousel-caption a {
    text-decoration: none;
    color: #FFF;
}
.carousel-caption a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
/*contact*/
#contact{
    padding-bottom: 50px;
}
form  {
    background-color: #303E30;
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
form ol {
    list-style: none;
    padding: 0 10px;
}
form li {
    margin: 10px 0;
}
label {
    float: left;
    color: #FFF;
}
.contact-aside {
    color: #FFF;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}
.button1 {
    display: block;
    margin: 0 auto;
    font-weight: bold;
}
small {
    color: #FFF;
}
.img-contact {
    width: 100%;
    border-radius: 20px;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}