/*General*/
body {
    font-family: 'Baloo Chettan 2', cursive !important;
}
main {
    background: linear-gradient(#207620, #333333);
}
.section-title {
    padding-top: 70px;
}
.titre {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin-top: 30px;
    font-size: 40px;
}
.sub-title {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin: 20px 0;
    font-size: 30px;
}
/* Nav */
nav {
    letter-spacing: 2px;
    background-color: #333333;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
#navbarmenu {
    border-bottom: 1px solid #fff;
}
.navbar-nav {
    text-transform: uppercase;
    margin: 0 auto;
}
.nav-item {
    margin: 0 20px;
}
.nav-link {
    color: #FFF;
    text-align: center;
    font-weight: bold;
}
.nav-link:hover {
    text-decoration: none;
    color: #333333;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
} 
.burgericon {
    width: 40px;
}
/* footer */
footer {
    background-color: #333333;
}
.upicon {
    width: 50px;
}
.giticon {
    width: 50px;
}
footer p {
    color: #FFF;
    margin: 0 auto;
    font-weight: bold;
}
.copyright {
    color: #545454;
    padding: 20px 10px 20px 0;
}
/*AboutMe */
#aboutMe {
    padding-top: 100px;
}
#aboutMe img {
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
    padding: 0 ;
}
.heading {
    text-align: center;
    color: #FFF;
}
.heading h1 {
    font-size: 40px;
    margin-top: 15px;
}
.heading h2 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}
.ddlButton {
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    border: 2px solid #FFF;
    display: inline-block;
    padding: 15px 30px;
    margin: 30px 0 50px 0;
    border-radius: 3px;
}
.ddlButton:hover {
    background-color: #FFF;
    color: #207620;
    text-decoration: none;
}
/*Skills*/
#skills{
    height: 1023px;
}
.skill-row {
    background-color: #303E30;
    padding: 0 20px 20px 20px ;
    border-radius: 20px;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
.skill-row p {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}
.progress, .progress-bar {
    border-radius: 15px !important;
    font-size: 20px;
}
.progress .bar-html {
    background-color: #FFBD59 ;
}
.progress .bar-js {
    background-color: #FFDE59;
}
.progress .bar-css {
    background-color: #5271FF;
}
.progress .bar-php {
    background-color: #8C52FF;
}
.progress .bar-langue {
    background-color: rgb(30, 94, 4);
}
/*work */
#work {
    padding-bottom: 80px;
}
    /*central line*/
.timeline:before {
top: 0;
bottom: 0;
position: absolute;
content: " ";
width: 5px;
background-color: black;
left: 50%;
margin-left: -2.5px;
}
.arrow-icon {
    width: 50px;
    position: relative;
    left: 50%;
    margin: -23.75px;
    margin-top: -60px;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px 0;
    position: relative;
  }
.timeline > li {
margin-top: 20px;
position: relative;
}
.timeline > li:before,
.timeline > li:after {
content: " ";
display: table;
}
.timeline > li:after {
clear: both;
}
    /*badge*/
.work-icon {
    width: 30px;
    margin-bottom: 5px;
}
.timeline li .timeline-badge
{
    width: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #333333;
    border-radius: 50%;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
    /*Panel*/
.timeline-panel-container
{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}
.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border-radius: 20px;
    padding: 10px 15px;
    position: relative;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
    background: #333333;
    color: #FFF ;
}
.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}
    /* arrow panel */
.timeline-panel:after
{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #333333;
    border-right: 0 solid #333333;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
    /*text panel*/
.timeline-heading h3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #333333;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
}
.timeline-body p {
    text-align: center;
    font-size: 25px;
}
.timeline-body {
    background-color: #303E30;
    margin-top: 10px;
    border-radius: 20px;
}
/*Degree*/
#degree {
    padding-bottom: 50px;
}
.degree-item
 {
     background-color: #303E30;
     margin: 30px auto;
     text-align: center;
     border-radius: 20px;
     box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
     color: #FFF;
 }
.degree-item img {
    width: 70px;
    margin: 0 auto;
}
 .degree-item h1
 {
    font-weight: bold;
    font-size: 35px;
    padding-top: 5px;
 }
 .degree-item p
 {
    font-size: 20px;
 }
/*Project*/
#project{
    padding-bottom: 50px;
}
.carousel {
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
.carousel-caption a {
    text-decoration: none;
    color: #FFF;
}
.carousel-caption a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
/*contact*/
#contact{
    padding-bottom: 50px;
}
form  {
    background-color: #303E30;
    padding: 10px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}
form ol {
    list-style: none;
}
form li {
    margin: 10px 0;
}
label {
    width: 200px;
    float: left;
    color: #FFF;
}
.contact-aside {
    color: #FFF;
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
}
.button1 {
    display: block;
    margin: 0 auto;
    font-weight: bold;
}
small {
    color: #FFF;
}
.img-contact {
    width: 100%;
    border-radius: 20px;
    box-shadow: -2px 3px 21px 2px rgba(0,0,0,0.50);
}